body {
    margin: 0px;
    background-color:beige;
}

h1 {
    font-size: 25px; 
    font-family: 'Franklin Gothic Medium'; 
    font-style: bold; 
    text-align: center;
}

h2 {
    font-family: 'Franklin Gothic Medium';
    margin-left: 60px;
    text-align: left; 
    font-size: 20px;
    color: #046daa;
    
}

pre {
    font-family:Arial;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #489ee5;
    overflow: hidden;
    width: auto;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    font-family:'Franklin Gothic Medium';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #93cae2;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #046daa;
    color: white;
}

.topnav a.active:hover {
    background-color: #0684cd;
    color: white;
}

.main {
    border-radius: 20px;
    overflow: hidden;
    align-self: center;
    background-color: white;
    width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.home_main {
    overflow: hidden;
    align-self: center;
    background-color: white;
    width: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    font-size: 18px;
}

.contacts {
    background-color: blanchedalmond;
    position: sticky;
    margin-bottom: 0px;
    width: auto;
    height: auto;
    left: 0px;
    bottom: 0px;
    font-style: italic;
}

.akospicture {
    border-radius: 20px;
    margin-right: 15px;
}

.home_akospicture {
    border-radius: 20px;
    margin-right: 60px;
    margin-top: 15px;
}

.topnavtext {
    font-family: Arial;
    font-size: 13px;
    color: white;
    text-align: end;
    margin-right: 30px;
}

